* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-general);
  }
  body {
    font-size: 62.5%;
    justify-content: center;
    align-items: center;
    background-color: #eeeeee;
    overflow-x: hidden;
  } 

  html {
    font-size: 62.5%;
}

  :root {
    --color-marca-vickfaby: #1aa0ab;
    
    --color-background: #12222c;
    --color-background-cards:#1D2B35;
    --font-vick:'Borel', cursive;
    --varh: 100vh;
    --varw: 100vw;
  }