@import "vars";

.title {
  position: relative;
  height: calc(100vh);
  // min-height: 130px;
  max-height: 100vh;
  display: flex;
  margin-top: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 1.8s;
}

.title::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(50% - 25vw);
  width: 50vw;
  height: calc(100vh);
  background: #858585;
  transform-origin: center;
  z-index: 0;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transform: skewX(-45deg);
}

.title h1 {
  font-size: 10rem;
  font-family: var(--font-vick);
  height: 10rem;
  z-index: 1;
  transition: 1s;
}

.title p {
  color: #777;
  font-size: 1.6rem;
  margin-top: 0.4rem;
  z-index: 1;
}

.title #buttonLogo {
  cursor: pointer;
  position: absolute;
  opacity: 0;
  left: calc(100% - 4rem);
  transition: 1s;
  display: flex;
  font-size: 2rem;
  height: 4rem;
  width: 4rem;
  background: #777;
  border-radius: 2rem;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  color: #fff;
  left: calc(100% - 5rem);
}

main .info-profile {
  position: relative;
  width: 100vw;
  border: 0px solid #777;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

main .info-profile .profile-img {
  position: relative;
  width: 95vw;
  margin: 1rem auto;
  height: 28%;
  border-radius: 2rem;
  background: #fff;
}

main .info-profile .profile-img img {
  object-fit: cover;
  width: 100%;
  height: 20rem;
  border-radius: 2rem;
}

main .info-profile .profile-img .profile-photo {
  position: absolute;
  width: 16rem;
  height: 16rem;
  border: 1rem solid #eeeeee;
  top: calc(50% - 8rem);
  left: calc(50% - 8rem);
  background: #fff;
  border-radius: 8rem;
}

main .info-profile .profile-img .profile-photo img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10rem;
}

main .profile-info {
  width: 100vw;
  // height: 66%;
  border: 1px solid transparent;
  border-radius: 2rem;
  background: #fff;
  text-align: center;
  font-size: 2rem;
}
main .profile-info .profile-data h4 {
  color: #777;
  font-weight: 100;
}
main .profile-info .profile-data p {
  color: #777;
  text-align: start;
  font-size: 1.6rem;
  font-weight: 400;
}

main .profile-info .profile-data {
  margin: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1.8rem;
}
main .profile-info .profile-data ul {
  display: flex;
  flex-direction: column;
}
main .profile-info .profile-data ul li {
  display: flex;
  text-align: start;
}
main .profile-info .profile-imgTechnologies {
  margin: 4rem 0rem;
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
main .profile-info .profile-imgTechnologies img {
  height: 6rem;
  margin-left: 1rem;
}

main .profile-info .profile-contact {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  margin: 4rem 2rem 6rem 2rem;
}

main .profile-info .profile-contact ul {
  display: flex;
  width: 100%;
  flex-direction: initial;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}
main .profile-info .profile-contact ul li {
  display: flex;
  align-items: baseline;
}

main .profile-info .profile-contact ul li a {
  text-decoration: none;
  color: #777;
  margin-left: 0.8rem;
}
main .profile-info .profile-contact ul li span {
  color: #858585;
}

main .info-profile .profile-info .profile-download {
  position: relative;
}

main .profile-info .profile-download a {
  text-decoration: none;
  width: 30rem;
  position: absolute;
  display: flex;
  top: calc(100% - 4rem);
  left: calc(50% - 15rem);
  padding: 1rem 2rem;
  border: 1rem solid #fff;
  border-radius: 4rem;
  background: #3559b7;
  justify-content: center;
  color: #fff;
  align-items: baseline;
  z-index: 1;
}
main .profile-info .profile-download a:hover {
  scale: 1.1;
}
main .profile-info .profile-download a span {
  margin-right: 1rem;
}

main .info-projects {
  // width: 90%;
  background: #e0e0e0;
  // border-radius: 2rem;
  margin: 4rem auto 0 auto;
  font-size: 2rem;
  // padding: 2rem 2rem 8rem 2rem;
}
main .info-projects h2 {
  font-size: 3rem;
  margin-left: 2rem;
}
main .info-projects p {
  color: #777;
  font-size: 1.6rem;
  margin: 3rem 2rem 4rem 2rem;
}

main .info-projects .about-me {
  // border: 1px solid #777;
  width: 100%;
}
main .info-projects .projects-me {
  // border: 1px solid #777;
  width: 100%;
  margin-top: 0rem;
  padding-top: 2rem;
}
main .info-projects .projects-me-container {
  display: flex;
  width: calc(100vw - 8rem);
  justify-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  position: relative;
  
}

main .info-projects .projects-me-container >  span:nth-child(2) {
  position: absolute;
  top: 80%;
  left: calc( 50% - 2rem);
  font-size: 4rem;
  transform: rotateZ(-20deg);
  color: #777;
  animation: hand 2s infinite linear;
  scale: 2;
  z-index: 1;
}
main .info-projects .projects-me-container >  span:nth-child(1) {
  position: absolute;
  top: calc(80% - 2.2rem);
  left: calc( 50% - 3.5rem);
  font-size: 4rem;
  transform: rotateZ(-20deg);
  color: #c5c5c5;
  animation: touch-hand 2s infinite linear;
  scale: 2;
  opacity: 0;
  z-index: 1;
}

@keyframes touch-hand {
  0% {
    opacity: 0;
    transform: translateX(0rem) ;
  }
  25% {
    opacity: 0.2;
    scale: 1;
    transform: translateX(7rem) rotateZ(-20deg);
  }
  50% {
    opacity: 1;
    scale: 1;
    transform: translateX(0rem) rotateZ(-20deg);
    
  }
  75%{
    opacity: 0.2;
    scale: 1;
    transform: translateX(-7rem) rotateZ(-20deg);
  }
  100% {
    opacity: 0;
    transform: translateX(0rem);

  }
}
@keyframes hand {
  0% {
    scale: 2;
    transform: translateX(0rem) ;
  }
  25% {
    scale: 1;
    transform: translateX(7rem) rotateZ(-20deg);
  }
  50% {
    scale: 1;
    transform: translateX(0rem) rotateZ(-20deg);
    
  }
  75%{
    scale: 1;
    transform: translateX(-7rem) rotateZ(-20deg);
  }
  100% {
    scale: 2;
    transform: translateX(0rem);

  }
}

main .info-projects .projects-me-container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
main .info-projects .projects-me .slide-projects{
  display: flex;
}
main .info-projects .projects-me .slide-projects > button{
  width: 4rem;
  height: 10rem;
  margin-top: calc(50% + 10rem);
  border: none;
  background: #777;
  color: #fff;
}

// main .info-projects .projects-me-container > button{
//   position: absolute;
//   height: 100%;
//   width: 2rem;
// }
// main .info-projects .projects-me-container > button:last-of-type{
// left:calc(100% - 1rem);
// }
footer {
  color: #777;
  background: #e0e0e0;
  display: flex;
  font-size: 1rem;
  flex-direction: column;
  align-items: center;
  padding: 2.8rem;
}

footer p {
  margin-top: 0.4rem;
  font-family: var(--font-vick);
  font-size: 1.6rem;
  font-weight: 700;
}

@media (min-width: 640px) {
  main {
    display: flex;
    height: 100vh;
  }

  main .info-profile {
    width: 45vw;
    min-width: 45vw;
    padding-left: 1rem;
  }
  main .info-profile .profile-img {
    width: 100%;
    height: auto;
  }

  main .profile-info {
    width: 100%;
  }
  main .profile-info .profile-imgTechnologies {
    flex-wrap: wrap;
  }
  main .profile-info .profile-contact ul {
    flex-direction: column;
    align-items: flex-start;
  }
  main .profile-info .profile-contact ul li {
    justify-content: flex-start;
  }
  main .info-projects {
    margin: 0;
    background: none;
    width: 55vw;
  }
  main .info-projects .projects-me-container {
    background: #fff;
    position: relative;
    z-index: 1;
  }
}

@media (min-width: 1024px) {
  main {
    height: 100vh;
  }
  main .info-profile {
    width: 40vw;
    min-width: 40vw;
  }
  main .info-projects {
    width: 60vw;
  }
  main .info-profile .profile-img {
    width: 85%;
    margin: 1rem 0;
    height: auto;
  }
  main .profile-info {
    width: 85%;
    margin: 0;
  }
  main .profile-info .profile-data h2,
  main .profile-info .profile-data h4 {
    margin: 0 0 0 auto;
  }
  main .info-profile .profile-img .profile-photo {
    top: calc(100% - 8rem);
    left: -8rem;
  }

  footer {
    margin-top: 20rem;
  }
}
