@import "vars";

body {
  background: var(--color-background-general);
}

.languageSelectorContainer {
  position: absolute;
  top: 2rem;
  height: 2rem;
  left: 2rem;
  display: flex;
  align-items: center;
  z-index: 1;
}
.languageSelectorContainer > button {
  font-size: 1.2rem;
  cursor: pointer;
}
.languageSelectorContainer > button:hover {
  scale:1.2;
  text-decoration: underline;
}
.languajeSelector-button {
  margin-right: 1rem;
  background: none;
  border: none;
  color: var(--color-text-general);
  font-size: 2rem;
}
.title {
  position: relative;
  height: 100vh;
  max-height: 100vh;
  display: flex;
  padding: 1rem 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 1.8s;
}

.title::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(50% - 25vw);
  width: 50vw;
  height: calc(100vh);
  transform-origin: center;
  z-index: 0;
  background: var(--color-after-tittle);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transform: skewX(-45deg);
}

.title h1 {
  color: var(--color-marca-vickfaby);
  font-size: 10rem;
  font-family: var(--font-vick);
  height: 10rem;
  z-index: 1;
  transition: 1s;
}

.title p {
  color: var(--color-text-general);
  font-size: 1.6rem;
  margin-top: 0.4rem;
  z-index: 1;
}

.title #buttonLogo {
  cursor: pointer;
  position: absolute;
  opacity: 0;
  left: calc(100% - 4rem);
  transition: 1s;
  display: flex;
  font-size: 2rem;
  height: 4rem;
  width: 4rem;
  background: var(--color-text-general);
  border-radius: 2rem;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  left: calc(100% - 5rem);
}
.title #buttonSection {
  cursor: pointer;
  position: absolute;
  opacity: 1;
  transition: 1s;
  display: flex;
  height: 4rem;
  width: 4rem;
  background: var(--color-text-general);
  border-radius: 4rem;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  left: calc(50vw - 2rem);
  top: calc(100vh - 16rem);
  font-size: 2rem;
  animation: buttonSection 6s linear infinite;
  animation-delay: 2s;
  transition: 2s;
}
@keyframes buttonSection {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

main .info-profile {
  position: relative;
  width: 100vw;
  border: 0px solid var(--color-text-general);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

main .info-profile .profile-img {
  position: relative;
  width: 95vw;
  margin: 1rem auto;
  height: 20rem;
  border-radius: 2rem;
  background: var(--color-white);
}

main .info-profile .profile-img img {
  object-fit: cover;
  width: 100%;
  height: 20rem;
  border-radius: 2rem;
}

main .info-profile .profile-img .profile-photo {
  position: absolute;
  width: 16rem;
  height: 16rem;
  border: 1rem solid var(--color-white);
  top: calc(50% - 8rem);
  left: calc(50% - 8rem);
  background: var(--color-white);
  border-radius: 8rem;
}

main .info-profile .profile-img .profile-photo img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10rem;
}

main .profile-info {
  width: 100vw;
  // height: 66%;
  // border: 1px solid transparent;
  border-radius: 2rem;
  background: var(--color-white);
  text-align: center;
  font-size: 2rem;
  position: relative;
}

main .profile-info .profile-data h4 {
  color: var(--color-text-general);
  font-weight: 100;
}
main .profile-info .profile-data > p {
  color: var(--color-text-general);
  text-align: start;
  font-size: 1.6rem;
  font-weight: 400;
}

main .profile-info .profile-data {
  margin: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1.8rem;
}
main .profile-info .profile-data ul {
  display: flex;
  flex-direction: column;
}
main .profile-info .profile-data ul li {
  display: flex;
  text-align: start;
}
.achievements > h3{ 
  text-align: left;
  margin-bottom: 1rem;
}
.achievements > p{ 
  text-align: left;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.achievements > a{ 
  text-align: left;
  margin-bottom: 1rem;
}

.shots {
  margin: 1rem auto;
  display: flex;
  justify-content: space-around;
}
.shots > img {
width: 40%;
}

main .profile-info .profile-imgTechnologies {
  margin: 4rem 0rem;
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
main .profile-info .profile-imgTechnologies img {
  height: 6rem;
  margin-left: 1rem;
}

main .profile-info .profile-contact {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  margin: 4rem 2rem 6rem 2rem;
}

main .profile-info .profile-contact ul {
  display: flex;
  width: 100%;
  flex-direction: initial;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}
main .profile-info .profile-contact ul li {
  display: flex;
  align-items: baseline;
}

main .profile-info .profile-contact ul li a {
  text-decoration: none;
  color: var(--color-text-general);
  margin-left: 0.8rem;
}
main .profile-info .profile-contact ul li:hover {
  scale: 1.5;
}
main .profile-info .profile-contact ul li:hover a {
  color: var(--color-blue);
}
main .profile-info .profile-contact ul li:hover span {
  color: var(--color-blue);
}
main .profile-info .profile-contact ul li span {
  color: var(--color-text-general);
}

main .info-profile .profile-info .profile-download {
  // position: relative;
}

main .profile-info .profile-download > a {
  text-decoration: none;
  width: 30rem;
  position: absolute;
  display: flex;
  top: calc(100% - 4rem);
  left: calc(50vw - 16rem);
  padding: 1rem 2rem;
  border: 1rem solid var(--color-white);
  border-radius: 4rem;
  background: var(--color-blue);
  justify-content: center;
  color: var(--color-white);
  align-items: baseline;
  z-index: 1;
}
main .profile-info .profile-download a:hover {
  scale: 1.1;
}
main .profile-info .profile-download a span {
  margin-right: 1rem;
}

main .info-projects {
  // width: 90%;
  // background: var(--color-footer);
  // border-radius: 2rem;
  margin: 4rem auto 0 auto;
  font-size: 2rem;
  // padding: 2rem 2rem 8rem 2rem;
}
main .textInformation > h3 {
  // font-size: 3rem;
  margin-left: 2rem;
}
main .textInformation > p {
  color: var(--color-text-general);
  font-size: 1.6rem;
  margin: 3rem 2rem 4rem 2rem;
}

main .info-projects .about-me {
  // border: 1px solid var(--color-text-general);
  width: 100%;
}
main .info-projects .projects-me {
  // border: 1px solid var(--color-text-general);
  width: 100%;
  margin-top: 0rem;
  padding-top: 2rem;
  padding-right: 1.5rem;
}
main .info-projects .projects-me-container {
  display: flex;
  width: calc(100% - 8rem);
  border-radius: 2rem;
  justify-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  position: relative;
  z-index: 1;
}

main .info-projects .projects-me-container > span:nth-child(1) {
  position: absolute;
  top: calc(80% - 1.5rem);
  left: calc(50% - 3.2rem);
  font-size: 4rem;
  transform: rotateZ(-20deg);
  color: var(--color-tutorial-animation);
  animation: touch-hand 3s infinite linear;
  scale: 1;
  z-index: 1;
}

main .info-projects .projects-me-container > span:nth-child(2) {
  position: absolute;
  top: 80%;
  left: calc(50% - 2rem);
  font-size: 4rem;
  transform: rotateZ(-20deg);
  color: var(--color-text-general);
  animation: hand 3s infinite linear;
  scale: 2;
  z-index: 1;
}

@keyframes touch-hand {
  0% {
    opacity: 0;
    transform: translateX(7rem);
  }
  24% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
    transform: translateX(7rem);
  }

  30% {
    opacity: 0.2;
    transform: translateX(7rem);
  }
  35% {
    opacity: 0.5;
    transform: translateX(7rem);
  }

  40% {
    opacity: 0.2;
    transform: translateX(7rem);
  }
  45% {
    opacity: 0.5;
    transform: translateX(7rem);
  }

  60% {
    opacity: 1;
    transform: translateX(0rem);
  }
  75% {
    opacity: 0;
    transform: translateX(-7rem);
  }
  100% {
    opacity: 0;
    transform: translateX(7rem);
  }
}
@keyframes hand {
  0% {
    scale: 2;
    transform: translateX(0rem);
  }
  25% {
    scale: 1;
    transform: translateX(7rem) rotateZ(-20deg);
  }
  30% {
    scale: 1.2;
    transform: translateX(7rem) rotateZ(-20deg);
  }
  35% {
    scale: 1;
    transform: translateX(7rem) rotateZ(-20deg);
  }
  40% {
    scale: 1.2;
    transform: translateX(7rem) rotateZ(-20deg);
  }
  45% {
    scale: 1;
    transform: translateX(7rem) rotateZ(-20deg);
  }
  60% {
    scale: 1;
    transform: translateX(0rem) rotateZ(-20deg);
  }
  75% {
    scale: 1;
    transform: translateX(-7rem) rotateZ(-20deg);
  }
  100% {
    scale: 2;
    transform: translateX(0rem);
  }
}

main .info-projects .projects-me-container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
main .info-projects .projects-me .slide-projects {
  display: flex;
}
main .info-projects .projects-me .slide-projects > span {
  width: 3rem;
  height: 10rem;
  margin-top: calc(50% + 10rem);
  border: none;
  background: var(--color-text-general);
  color: var(--color-white);
  display: flex;
  align-items: center;
  z-index: 0;
}

main .info-projects .projects-me .slide-projects > span:active {
  scale: 2;
}

main .info-projects .projects-me .slide-projects > span:nth-child(1) {
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  margin-left: 1rem;
  cursor: pointer;
  justify-content: flex-end;
}
main .info-projects .projects-me .slide-projects > span:nth-child(3) {
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  margin-right: 1rem;
  cursor: pointer;
  justify-content: flex-start;
}

footer {
  color: var(--color-text-general);
  background: var(--color-footer);
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  font-size: 1rem;
  row-gap: 4rem;
  align-items: start;
  padding: 2.8rem;
  margin-top: 4rem;
  padding: 10rem;
  position: relative;
}

footer p {
  margin-top: 0.4rem;
  font-family: var(--font-vick);
  font-size: 1.6rem;
  font-weight: 700;
}

footer .info {
  text-align: start;
}
.info > h2 {
  font-family: var(--font-vick);
  font-weight: 1000;
  text-align: center;
  margin-bottom: 2rem;
}
.info > p {
  font-family: var(--font-general);
  font-weight: 400;
}
.info > p:nth-child(2) {
margin-bottom: 2rem;
// text-align: center;
}

footer .services {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer .services h2 {
  margin-bottom: 1rem;
}
.services > ul {
  font-size: 1.6rem;
  width: fit-content;
  margin: 0 auto;
}
.services > ul > li {
  text-align: left;
  list-style: inside;
  list-style: none;
}

footer .contact {
}

footer .contact .contact-social {
  padding-bottom: 0rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.contact .contact-social > span {
  font-size: 2.8rem;
  margin-right: 1rem;
  cursor: pointer;
}
.contact .contact-social > span:hover {
  scale: 1.5;
  color: var(--color-blue);
}

footer .contact .contact-cretedBy {
  display: flex;
  align-items: baseline;
  justify-content: center;
  margin-left: -1rem;
}
.contact .contact-cretedBy > p:nth-child(1) {
  font-family: var(--font-general);
  font-weight: 500;
}
.contact .contact-cretedBy > p:nth-child(2) {
  margin-left: 1rem;
}
@media (min-width: 640px) {
  main {
    display: flex;
    // height: 100vh;
    width: max-content;
    margin: 0 auto;
    max-width: 1600px;
  }

  .languageSelectorContainer > button {
    font-size: 2rem;
  }

  main .info-profile {
    max-width: 38rem;
    padding-left: 1rem;
    width: 45vw;
  }
  main .info-profile .profile-img {
    width: 100%;
    height: calc(45vw - 1rem);
    max-height: 37rem;
  }
  main .info-profile .profile-img img {
    height: 100%;
  }

  main .info-profile .profile-img .profile-photo {
    width: 80%;
    height: 80%;
    top: calc(50% - 40%);
    left: calc(50% - 40%);
    border-radius: 50%;
  }
  main .info-profile .profile-img .profile-photo img {
    border-radius: 50%;
  }

  main .profile-info {
    width: 100%;
    min-height: 103.5rem;
    border-bottom-right-radius: 0;
  }

  main .profile-info::after {
    content: "";
    width: calc(55vw - 2.5rem);
    max-width: 122rem;
    height: 14rem;
    background: var(--color-white);
    position: absolute;
    top: calc(100% - 14rem);
    left: 100%;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
  }

  main .profile-info .profile-imgTechnologies {
    flex-wrap: wrap;
  }
  main .profile-info .profile-contact ul {
    flex-direction: initial;
    align-items: flex-start;
  }
  main .profile-info .profile-contact ul li {
    justify-content: flex-start;
  }
  main .info-projects {
    margin: 0;
    background: none;
    width: 55vw;
    // max-width: 46.44rem;
  }

  main .info-projects .projects-me > p {
    height: 32rem;
    min-height: 7rem;
  }

  main .info-projects .projects-me .slide-projects {
    display: flex;
    height: calc(45vw - 23rem + 75.5rem - 14rem);
    max-height: 76rem;
  }
  main .info-projects .projects-me-container {
    background: var(--color-white);
    position: relative;
    z-index: 1;
  }
  main .info-projects .projects-me .slide-projects > span {
    margin-top: 28rem;
  }

  main .profile-info .profile-contact {
    position: absolute;
    top: calc(100% - 9.5rem);
    left: calc(50vw - 21rem);
    z-index: 2;
    width: 40rem;
    margin: 0;
  }

  // main .profile-info .profile-download > a {
  //   left: calc(50vw - 22.5vw + 19rem - 15rem);
  // }
  footer {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 10rem 4rem;
    // height: calc(100vh - 37rem - 75.5rem - 1rem);
  }
  footer .info {
    text-align: left;
  }
}
@media (min-width: 826px) {
  main .info-projects .projects-me > p {
    height: 25rem;
}
main .profile-info {
  min-height: 97.5rem;
}
}
@media (min-width: 843px) {
  main .profile-info .profile-download > a {
    left: calc(50vw - 22.5vw + 19rem - 15rem);
  }
  main .profile-info .profile-contact {
    left: calc(27.5vw + 19rem - 20rem);
}
}



@media (min-width: 900px) {
  main .profile-info .profile-data > p {
    font-size: 1.8rem;
  }
  main .info-projects p {
    font-size: 1.8rem;
  }

  main .info-projects .projects-me > p {
    height: 30rem;
}
main .profile-info {
  min-height: 101.5rem;
}
  footer {
    padding: 10rem;
  }
}

@media (min-width: 924px) {
  main .info-projects .projects-me > p {
    height: 28rem;
}
main .profile-info {
  min-height: 96.5rem;
}
}

@media (min-width: 1173px) {
  main .info-projects .projects-me > p {
    height: 24rem;
}
main .profile-info {
  min-height: 92.5rem;
}
}

@media (min-width: 1200px) {
  footer {
    padding: 10rem 30%;
  }
  .title > h1 {
    font-size: 20rem;
    height: 20rem;
  }
}

@media (min-width: 1494px) {
  main .info-projects .projects-me > p {
    height: 17rem;
}
main .profile-info {
  min-height: 85.5rem;
}
}

@media (min-width: 2237px) {
  main .profile-info .profile-download > a {
    left: 655.175px;
  }
  main .profile-info .profile-contact {
    left: 605.175px;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background: var(--color-background-general-dark);
  }
  .languajeSelector-button {
    color: var(--color-text-title-dark);
  }
  .title > h1 {
    color: var(--color-marca-vickfaby-dark);
  }
  .title > p {
    color: var(--color-text-general-dark);
  }
  main .profile-info {
    background: var(--color-after-tittle);
  }
  .achievements > h3 { 
    color: var(--color-white) ;
  }
  .achievements > p { 
    color: var(--color-text-general-dark);
  }
  .achievements > a { 
    color: var(--color-white);
  }
  main .profile-info::after {
    background: var(--color-after-tittle);
  }
  main .profile-info .profile-download > a {
    border: 1rem solid #1e2d37;
  }
  main .profile-info .profile-data > h2 {
    color: var(--color-text-title-dark);
  }
  main .profile-info .profile-data h4 {
    color: var(--color-text-general-dark);
    font-weight: 100;
  }
  main .profile-info .profile-data > p {
    color: var(--color-white);
    text-align: start;
    font-size: 1.6rem;
    font-weight: 400;
  }
  main .profile-info .profile-data ul li {
    color: var(--color-text-general-dark);
  }

  main .profile-info .profile-contact ul li a {
    color: var(--color-white);
  }

  main .profile-info .profile-contact ul li span {
    color: var(--color-white);
  }

  main .info-projects h3 {
    color: var(--color-text-title-dark);
  }

  main .info-projects .projects-me > p {
    color: var(--color-text-general-dark);
  }
  footer {
    background: #000000;
    color: var(--color-text-general-dark);
  }
}
