@import "vars";
*{
  box-sizing: border-box;
}
.cardProject {
  position: relative;
  color: #fff;
  min-width: 100%;
  height: 64rem;
  border-radius: 20px;
  display: flex;
  align-items: center;
  transition: 0.1s;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  border: 1px solid #777;
  background: var(--color-card-dark);
}
.cardProject > img {
  height: 6rem;
  /* top: calc(50% - 12rem); */
  scale: 1.4;
  position: absolute;
  object-fit: cover;
  z-index: 2;
  /* margin-top: calc(50% + 4.5rem); */
  transition: 0.5s;
  transform: translateY(calc(50% + 12rem));
}

.cardProject:hover img:nth-child(1) {
  transition: 0.5s;
  top: 2rem;
  scale: 1.5;
  transform: translateY(0);
}

.cardProject:hover .content img {
  width: 100%;
  transition: 0.5s;
}


.cardProject h1 {
  color: var(--color-white);
  margin-top: 28rem;
}


.cardProject .circle {
  position: absolute;
  /* top: calc(50% - 10rem); */
  /* left: calc(50% - 10rem); */
  width: 100%;
  height: 100%;
  border-radius: 2.5rem;
  overflow: hidden;
  z-index: 1;
  // box-shadow: 10px 10px 20px #929292, -10px -10px 20px #ffffff;
  filter: blur(4px);
  opacity: 0.5;
}

.cardProject:hover .circle {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 2.5rem;
  z-index: 0;
  opacity: 1;
  transition: 0.5s;
}
.cardProject .content {
  z-index: 0;
  opacity: 0;
  width: 100%;
  // max-width: calc(100% - 8rem);
}
.cardProject .content h3 {
  margin-top: 2rem;
  color: #777;
  text-transform: capitalize;
}

.cardProject .content p {
  color: #777;
  max-height: 25rem;
  margin: 1rem;
  overflow-y: scroll;
  text-align: center;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.cardProject .content img {
  width: 100%;
  transition: 0.5s;
  max-width: 28rem;
}

.cardProject .content p::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.cardProject:hover .content {
  opacity: 1;
  height: calc(100% - 12rem);
  /* transform: translateY(-16.5rem); */
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #eeeeee;
  padding-bottom: 5rem;
  position: absolute;
  top: 7rem;
}

.cardProject:hover h1 {
  display: none;
  transition: 0.5s;
}

.cardProject .content > a:nth-child(3) {
  text-decoration: underline;
  color: blue;
  margin: 1rem 0 2rem 0;
}

.cardProject .content > a:nth-child(3):visited {
  color: blueviolet;
  text-decoration: none;
}
.cardProject .content > a:nth-child(3):active{
  scale: 2;
}
.cardProject .content > a:nth-child(5) {
  position: relative;
}
.cardProject:hover .content > a:nth-child(5) {
  position: absolute;
  padding: 1rem 2rem;
  top: calc(100% - 4rem);
  border-radius: 4rem;
  border: 1rem solid #eeeeee;
  background: #3559b7;
  color: #ffffff;
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
}

.cardProject:hover .content > a:nth-child(5):active{
  scale: 2;
}

@media (min-width: 640px) {
  .cardProject {
height: auto;
  }
}

@media (min-width: 450px) {
  .cardProject .content {
max-width: 32rem;
  }
}

@media (prefers-color-scheme: dark) {
  .cardProject{
    background: var(--color-card-dark);
  }
}


// @media (min-width: 1024px) {
//   .cardProject {
//     width: 48rem;
//     height: 87rem;
//   }
//   .cardProject .content {
//     width: auto;
//   }
//   .cardProject:hover img:nth-child(1) {
//     transform: translateY(-9rem);
//     scale: 2.5;
//   }
//   .cardProject:hover .content {
//     width: 48rem;
//     height: 65rem;
//     transform: translateY(-22.5rem);
//   }
//   .cardProject:hover .circle {
//     height: 87rem;
//   }
// }
